  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap');

body{
    background: #4b8879;
    overflow: auto;
    color: rgba(13, 14, 13, 0.856);
    text-align: center;
    justify-content: center;

}

header{
    font: normal 20pt 'Roboto';
    
}

section{
    font: normal 15pt 'Roboto';
    background: #fff;
    width: 500px;
    border-radius: 15px;
    margin: auto;
    padding: 30px;
    color: #000;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.473);
}

input{
    border-radius: 5px;
    border: 1px solid rgba(47, 51, 49, 0.308);
    font: bold 15px 'Roboto';
    margin: 10px;
    text-align: center;

}

select{
    font: bold 15px 'Roboto';

}

.botao{
    border-radius: 5px;
    border: 1px solid #fff;
    background: #58b19b;
    padding: 5px;
    font: bold 15px 'Roboto';
    color: #fff;
    width: 90px;
    display: inline;
}

footer{
    font-style: italic;
    text-align: center;
    justify-content: center;
}