@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap');

body{
    background: #608b89;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;

}

header{
    font: normal 20pt 'Roboto';

}

section{
    font: normal 15pt 'Roboto';
    background: #fff;
    width: 500px;
    border-radius: 15px;
    margin: auto;
    padding: 30px;
    color: #000;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.473);
}

img{
    padding: 10px;
}

footer{
    font-style: italic;
}